/* Reload.scss */

@import '../../utils/GlobalStyles.scss';

.reload-button {
    background-color: transparent;
    color: var(--text-secondary);
    border: none;
    border-radius: 14px;
    padding: 6px 10px;
    min-width: 32px;
    min-height: 32px;
    font-size: $standard-font-size * 1.1;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s, color 0.3s;
    opacity: 0.6;
    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        opacity: 1;
        color: var(--text-primary);
        text-decoration: none;
    }
}
