@import "../../utils/GlobalStyles.scss";

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 14px 7px;
  border-top: $line-width solid var(--border-subtle);

  @media (max-width: calc(4 * $min-card-width)) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 14px auto;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 14%;
    padding-right: 14%;
  }

  .name-title, .left-container {
    @media (max-width: calc(4 * $min-card-width)) {
      text-align: center;
      width: 100%;
    }
  }

  .bold {
    font-weight: bold
  }

  .design-info {
    color: var(--text-muted);
    font-size: $smaller-font-size;
    margin: 10px;

    @media (max-width: calc(4 * $min-card-width)) {
      text-align: center;
      width: auto;
    }
    a.link {
      color: var(--link);
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: var(--link-hover);
        text-decoration: none;
      }

      &:focus,
      &:active {
        outline: none;
        color: var(--link-active);
      }
    }
  }
}

// Rest of the styles similar to .header styles in header.scss
// Ensure you also adjust the media queries and other specific styles as needed.
